html {
		margin: 0;
		padding: 0;
		}

body {
	background-color: gray;

  margin: 0;
  padding: 0;
  }
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
	}


h1 {
  color: white;
  text-align: center;
  font-size: 120px;
	}

p {
  font-family: arial;
  font-size: 14px;
  color: white;
		}

h3{
	font: georgia;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: white;
	}	
}